body {
    font-family: 'PT Sans', Tahoma, sans-serif;
    background-color: #eeeeee;
    font-size: 1rem;
    margin-left: 8%;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
time {
    color: #adadad;
    font-size: 0.8rem;
}
#forum-nav {
    margin-left: -40px;
}
#forum-nav li {
    list-style: none;
    display: inline-block;
}
#forum-nav a {
    color: white;
    background-color: #ff7e00;
    padding: 8px;
    font-size: 0.9rem;
}
#forum-nav li:first-child a {
    background-color: #ff9c00;
}
#forum-nav a:hover {
    background-color: #faa14b;
    text-decoration: none;
}
#forum-nav li:first-child a:hover {
    background-color: #d35400;
}
aside {
    width: 21%;
    float: left;
}
aside h4 {
    color: white;
    font-size: 0.9rem;
    background-color: #234465;
    padding: 15px;
    word-wrap: break-word;
}
aside li {
    list-style: none;
    margin-left: -40px;
    word-wrap: break-word;
}
aside div:first-child a {
    display: block;
    color: #234465;
    padding: 13px 10px 13px 10px;
    font-size: 0.9rem;
}
aside div:first-child a:hover {
    background-color: #dbdbdb;
    border-radius: 5px;
    text-decoration: none;
}
aside span {
    font-size: 0.8rem;
    float: right;
    text-align: center;
    padding: 2px 10px 2px 10px;
    color: white;
    background-color: #ff9c00;
    border-radius: 20px;
}
aside div:nth-child(2) a {
    color: #234465;
    font-size: 0.8rem;
    background-color: #dbdbdb;
    padding: 5px;
    border-radius: 5px;
}
aside div:nth-child(2) a:hover {
    background-color: #cacaca;
}
main {
    display: inline-block;
    width: 60%;
    margin-left: 40px;
}
main h1 {
    color: #5a5a5a;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.topic-box {
    background-color: white;
    padding: 0 15px 15px 15px;
    box-shadow: 1px 1px 8px #c5c5c5;
}
.topic-box h2 {
    padding-top: 10px;
}
.topic-box h2 a{
    color: #234465;
    font-size: 1.3rem;
    margin-top: 0;
    padding-left: 15px;
}
.topic-box input {
    background-color: white !important;
}
.meta-user {
    display: inline-block;
    background: url("../images/softUni_Icons.png") 0 0;
    width: 19px;
    height: 14px;
}
.meta-time {
    display: inline-block;
    background: url("../images/softUni_Icons.png") 42px 0;
    width: 19px;
    height: 14px;
    margin-left: 10px;
}
.meta-topic {
    display: inline-block;
    background: url("../images/softUni_Icons.png") 20px 0;
    width: 19px;
    height: 14px;
    margin-left: 10px;
}
.meta-div {
    padding-left: 15px;
}
.meta {
    color: #234465;
    font-size: 0.8rem;
}
.votes-buttons {
    display: inline-block;
    vertical-align: top;
}
.meta-box {
    display: inline-block;
    padding: 3px;
}
.answered-box {
    display: inline-block;
    word-wrap: break-word;
    padding: 5px 5px 10px 10px;
    margin-left: 15px;
    margin-top: 10px;
    vertical-align: top;
    border-left: 1px solid #cbcbcb;
}
.meta-numbers input {
    background-color: #eeeeee;
    border: 0;
    color: #ff9c00;
    width: 40px;
    text-align: center;
    font-size: 1.3rem;
    padding: 5px 0 0 0;
}
.meta-text {
    color: #42a8d3;
    text-align: center;
    font-size: 0.7rem;
}
.button-up {
    display: block;
    width: 14px;
    height: 10px;
    padding: 5px;
    outline: none;
}
#vote-up {
    outline: none;
}
#vote-down {
    outline: none;
}
.button-down {
    display: block;
    width: 14px;
    height: 10px;
    padding: 5px;
}
.button-up:hover {
    color: #00cc33;
}
.topic-content {
    display: inline-block;
    width: 78%;
    margin-left: 20px;
    margin-top: 15px;
}
.user-box {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    padding: 10px;
}
.user-box .votes-buttons {
    margin-left: 10px;
}
.meta-gray {
    color: #adadad;
    font-size: 0.8rem;
}
.avatar {
    width: 100px;
    height: 100px;
    padding: 10px;
}
.topic-content {
    font-size: 0.9rem;
    color: #5a5a5a;
}
.topic-tags {
    color: #adadad;
    font-size: 0.7rem;
    margin: 5px;
}
.topic-tags a {
    color: #234465;
    text-decoration: underline;
}
.topic-tags a:hover {
    color: black;
}
.lite {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 0;
    padding: 0;
}
.button-answer, .button-report {
    display: inline-block;
    font-size: 0.7rem;
    color: white;
    background-color: #ff9c00;
    padding: 5px;
    margin-top: 10px;
}
.button-report {
    float: right;
}
.button-answer:hover {
    background-color: #88c3ec;
    text-decoration: none;
}
.button-report:hover {
    text-decoration: none;
}
.topic-box-answer {
    padding-top: 20px;
    margin-top: 10px;
}