html,body, header, div, ul, nav, li, a, img {
    padding: 0;
    margin: 0;
}
body{
    background-color: #234465;
    color: white;
}
header{
    margin-top: 20px;
}
ul{
    list-style-type: none;
}

.nav>li>a:hover{
    background-color: #428bca;
    /*border-radius: 5px;*/
}
.nav .open>a:focus{
    background-color: #FF9C00;
}
a{
    color: white;
    font-family:sans-serif;
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;
}
.dropdown-menu li a{
    color: white;
    font-family:sans-serif;
    font-size:14px;
    padding-left: 15px;
    line-height: 20px;
    text-transform: none;
}
.dropdown .dropdown-menu {
    background-color: #234465;
    width: 310px;
    position: absolute;
    left: 0;
    right: auto;
    /*border: 1px solid #1D3955;*/
    /*border-radius: 0 0 5px 5px;*/
}
.dropdown .dropdown-menu li:hover{
    background-color: #FF9C00;
}
.dropdown .dropdown-menu li a:hover{
    background: none;
    background-color: #FF9C00;
    color: #ffffff;
}
.dropdown-menu li{
    display: block;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #435F7B;
    border-radius: 0;
    min-width: 180px;
}
.logo-container img{
    height: 65px;
    width: 255px;
}
.user-info li:hover{
    background-color: #234465;
}
.btn{
    height: 34px;
    width: 34px;
    background:url(../images/magn-glass-icon17.png)no-repeat white center;
    border: 1px solid transparent;
    border-left: 1px solid grey;
}
.btn:hover{
    background-color: #428bca;
}
.notifications{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/notificationsIcon.png")no-repeat transparent center;
    vertical-align: middle;
    margin-right: 10px;
}
.navbar-default{
    background: none;
    border: none;
    box-shadow: none;
}
.collapse li {
    float: left;
}
.collapse.in li{
    float: none;
    border-bottom: 1px solid black;
}
.collapse.in .dropdown-menu{
    width: 100%;
    border: none;
    box-shadow: none;
}
.collapse.in{
    min-height: 300px;
    min-width: 240px;
    border: none;
    box-shadow: none;
}


