aside {
    background-color: #234465;
}
.levels {
    display: block;
    padding: 10px 0;
}
.levels:last-child {
    margin-bottom: 20px;
}
.levels a {
    display: block;
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    height: 100%;
	margin-left:10px;
}
.levels a:hover {
    color: #45a0c8;
    text-decoration: none;
}

.selected{
	color:red;
}
aside h2 {
    color: #FF9C00;
	margin-left:10px;
}
main {
    margin-top: 12px;
}
main h1 {
    color: #5A5A5A;
    margin: 5px 10px;
}

.courses-names {
    display: inline-block;
	background-color:#ffffff;
	width:100%;
	height:300px;
    padding: 10px 0 0 15px;
	margin-top:-15px;
}