body,section{
    padding: 0;
    margin: 0;
}

#sectionContainer{
    background-color: #eeeeee;
	font-size: 0;
	width:100%;
}
.leftColumn, .middleColumn, .rightColumn{
	display:inline-block;
	width: 28%;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    padding: 0px 15px 0px 15px;
}

.actions{
	width: 200px;
}

.actions a{  
    border: 2px solid #FF9C00;
	display:inline-block;
    padding: 10px;
    text-align: center;
}

.actions a:hover{
    color: #eee;
    background-color: #FF9C00;
}

.upcomingCoursesFirst, .upcomingCoursesSec{
	border-top:1px solid black;
}

.upcomingCoursesSec{
	border-bottom:1px solid black;
}


.actions a:first-of-type{                                                        /*first column styles*/
    margin-bottom: 10px;
}

.caption{
	background:yellow;
}

.upcomingCoursesSec{
	margin-bottom:38%;
}

.articleContainer div{
	display:inline-block;
}

.rightColumn img{
	display:block;
}

.padding{
	margin-top:30%;
}

.rightColLink{
	display:block;
}
