body,section{
    padding: 0;
    margin: 0;
}

#sectionContainer{
    background-color: #eeeeee;
	font-size: 0;
	width:100%;
}
.leftColumn, .middleColumn, .rightColumn{
	display:inline-block;
	width: 28%;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    padding: 0 15px 0 15px;
}

.upcomingCoursesFirst, .upcomingCoursesSec{
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:0;
}
.actions a{  
    border: 2px solid #FF9C00;
	display:inline-block;
    padding: 10px;
    text-align: center;
}

.actions a:hover{
    color: #eee;
    background-color: #FF9C00;
}

.actionsRight a{  
    border: 2px solid #FF9C00;
	display:inline-block;
    padding: 10px;
    text-align: center;
}

.actionsRight a:hover{
    color: #eee;
    background-color: #FF9C00;
}

.actionsRight {
    margin-left:65%;

}

.leftLink, .rightLink, .middleColLink{
	width:120px;
}

.upcomingCoursesFirst, .upcomingCoursesSec{
	border-top:1px solid black;
}

.upcomingCoursesSec{
	border-bottom:1px solid black;
	margin-bottom:60px;
}


.actions a:first-of-type{                                                        /*first column styles*/
    margin-bottom: 10px;
}

.caption{
	background:#ff9c00;
	height:35px;
	margin-top:-3px;
}

.articleContainer div{
	display:inline-block;

}
.articleContainer div a{
    color: #23448F;
}
.rightColumn img{
	display:block;
}

.padding{
	margin-top:30%;
}

.rightColLink{
	display:block;
}
