a.lefty-arrow {
    position: absolute;
    top:40%;
    left: 5%;
    display: inline-block;
    background:url("../images/slider/sliderArrows.png") no-repeat left;
    width: 59px;
    height: 59px;
}
a.righty-arrow{
    position: absolute;
    top:40%;
    right: 5%;
    display: inline-block;
    background:url("../images/slider/sliderArrows.png") no-repeat right;
    width: 59px;
    height: 59px;
}
.item img{
    min-height: 500px; !important;
    max-height: 500px; !important;
}
.slide{
    margin-top: 20px;
}